*{
    margin: 0px auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: rgb(253, 230, 242);
    color: rgb(202, 165, 228);
    text-align: left;
    
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1110px;
    border-radius: 10px;
    background-color: rgb(241, 198, 222);
    
}

.item {

    width: 100px;
    margin: 10px;
    border: 2px solid;
    text-align: left;
    line-height: 25px;
    font-size: 25px;
}


