/* selector universal*/
* {
    margin: 0;
    padding: 0;

}

/*selector de etiqueta*/
body{
    background-color: #aa9483;
    color: white;

}

/*selector id*/
#contenedor {
    width: 900px;
    height: 5300px;
    background-color: #ffffff;
    margin: 10px;
    padding: 20px;


}

#encabezado {
    width: 90%;
    background-color: #ffffff;
    color: black;
    margin: 1em;
    border-radius: 5px;
    text-align: center;

}

#menu {
    height: 45px;
    background-color: #aa9483;
    margin: 1em;
    border-radius: 5px;

}

/*selector de etiqueta para menu*/
ul{
    text-align: center;
    padding: 10px;

}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;


}

img:hover{
    width: 50%;

}

a {
    color: black;
}

li a:hover {
    color: rgb(78, 61, 40);
    text-decoration: none;
    list-style: none;
    font-size: 20px;

}

/*selector de clase*/
.img {
    width: 30%;
    border-radius: 30px;
    justify-items: center;


}

.texto {
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: black;
    text-align: center;


}

#pie {
    text-align: center;
    background-color: #aa9483;
    padding: 5px;
    border-radius: 5px;

}

#pie h4{
    padding: 15px;
    font-size: 30px;
    color: black;
}